.info-card {
    margin-top: 8px;
}

.info-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        // background-color: aqua;
        width: 100%;
        .info-head{
            width:35%;
            font-weight: bolder;
            // background-color: bisque;
        }
        .info-text{
            // background-color: azure;
            height: 100%;
         // margin: auto 0;
            
    }
}